<h1>martinn6's workout</h1>
<h2>Update a Workout</h2>
<style>
table {
    border-collapse: collapse;
}


table, td, tr, th {
    border: 1px solid black;
}
</style>
<form action="/workout" method="post">
  Name: <input type="text" name="name" id="name" value="{{name}}"><BR>
  Reps: <input type="text" name="reps" id="reps" value="{{reps}}"><BR>
  Weight: <input type="text" name="weight" id="weight" value="{{weight}}"><BR>
  Date: <input type="text" name="date" id="date" value="{{date}}"><BR>
  lbs: 	<select name="lbs">
			{{{options}}}
			<!--<option value="1">lbs</option>
			<option value="0">kg</option>-->
		</select><BR>
   <input type="hidden" name="id" value="{{id}}">
   <input type="submit" name="UPDATE" value="UPDATE">
</form> 

